#!/bin/bash
# Current Container Name : {{ $CurrentContainer.Name }}

# https://www.gnu.org/software/sed/manual/sed.html#The-_0022s_0022-Command

apt-get update && \
apt-get -y upgrade && \
{{ range $hunLang := split $CurrentContainer.Env.HUNSPELL_LANGUAGES "," }} 
 apt-get -y --no-install-recommends install hunspell-{{ $hunLang }}  && \
{{ end }}
sleep 1

for fn in /usr/share/hunspell/*.aff; do 
  #echo "Processing $fn file..."
  fileEnc=$(file -bi $fn)
  #echo $fileEnc
  case "$fileEnc" in
    *"iso-8859-1"*)
      echo "ISO encoding found: $fn"
      cp "$fn" "$fn.orig"
      iconv --from ISO8859-1 "$fn.orig" > "$fn"
      sed -i 's/SET ISO8859-1/SET UTF-8/' "$fn"
      ;;
   *"utf-8"*)
      echo "UTF-8 encoding found: $fn"
      ;;
   *)
      echo "UNKNOWN encoding found: $fileEnc in $fn"
      head $fn
      ;;
  esac
  
  case "$fn" in
    *"de_DE"*)
    cp "$fn" "$fn.new"
    sed -i 's/Ä/{Ae}/g' "$fn.new"
    sed -i 's/Ü/{Ue}/g' "$fn.new"
    sed -i 's/Ö/{Oe}/g' "$fn.new"
    sed -i 's/ä/{ae}/g' "$fn.new"
    sed -i 's/ü/{ue}/g' "$fn.new"
    sed -i 's/ö/{oe}/g' "$fn.new"   
    #sed -i 's/ß/{ss}/g' "$fn.new"
    sed -i 's/ß/ss/g' "$fn.new"
    mv /usr/share/hunspell/de_DE.aff.new /usr/share/hunspell/dex_DEX.aff   
    ;;
  esac

done

for fn in /usr/share/hunspell/*.dic; do 
  #echo "Processing $fn file..."
  fileEnc=$(file -bi $fn)
  #echo $fileEnc
  case "$fileEnc" in
    *"iso-8859-1"*)
      echo "ISO encoding found: $fn"
      cp "$fn" "$fn.orig"
      iconv --from ISO8859-1 "$fn.orig" > "$fn"
      #sed -i 's/SET ISO8859-1/SET UTF-8/' "$fn" 
      ;;
   *"utf-8"*)
      echo "UTF-8 encoding found: $fn"
      ;;
   *)
      echo "UNKNOWN encoding found: $fileEnc in $fn"
      head $fn
      ;;
  esac

  case "$fn" in
    *"de_DE"*)
    cp "$fn" "$fn.new"
    sed -i 's/Ä/{Ae}/g' "$fn.new"
    sed -i 's/Ü/{Ue}/g' "$fn.new"
    sed -i 's/Ö/{Oe}/g' "$fn.new"
    sed -i 's/ä/{ae}/g' "$fn.new"
    sed -i 's/ü/{ue}/g' "$fn.new"
    sed -i 's/ö/{oe}/g' "$fn.new"    
    #sed -i 's/ß/{ss}/g' "$fn.new"
    sed -i 's/ß/ss/g' "$fn.new"
    mv /usr/share/hunspell/de_DE.dic.new /usr/share/hunspell/dex_DEX.dic 
    ;;
  esac

done

file -bi /usr/share/hunspell/*.aff  && \
file -bi /usr/share/hunspell/*.dic

#apt-get autoremove
#apt-get clean

apt-cache search hunspell-
#hunspell -D


