#!/bin/bash
# Current Container Name : {{ $CurrentContainer.Name }}


## TESSERACT
apt-get update && \
apt-get -y upgrade && \
{{ range $tessLang := split $CurrentContainer.Env.TESSERACT_LANGUAGES "," }} 
 apt-get -y --no-install-recommends install tesseract-ocr-{{ $tessLang }}  && \
{{ end }}
sleep 1

#apt-get autoremove
#apt-get clean

tesseract --list-langs


## ASPELL
apt-get update && \
apt-get -y upgrade && \
{{ range $aspellLang := split $CurrentContainer.Env.ASPELL_LANGUAGES "," }} 
 apt-get -y --no-install-recommends install aspell-{{ $aspellLang }}  && \
{{ end }}
sleep 1

#apt-get autoremove
#apt-get clean

aspell dicts

## HUNSPELL
apt-get update && \
apt-get -y upgrade && \
{{ range $hunLang := split $CurrentContainer.Env.HUNSPELL_LANGUAGES "," }} 
 apt-get -y --no-install-recommends install hunspell-{{ $hunLang }}  && \
{{ end }}
sleep 1

for fn in /usr/share/hunspell/*.aff; do 
  #echo "Processing $fn file..."
  fileEnc=$(file -bi $fn)
  #echo $fileEnc
  case "$fileEnc" in
    *"iso-8859-1"*)
      echo "ISO encoding found: $fn"
      cp "$fn" "$fn.orig"
      iconv --from ISO8859-1 "$fn.orig" > "$fn"
      sed -i "$fn"  's/SET ISO8859-1/SET UTF-8/'
      ;;
   *"utf-8"*)
      echo "UTF-8 encoding found: $fn"
      ;;
   *)
      echo "UNKNOWN encoding found: $fileEnc in $fn"
      head $fn
      ;;
  esac
done

for fn in /usr/share/hunspell/*.dic; do 
  #echo "Processing $fn file..."
  fileEnc=$(file -bi $fn)
  #echo $fileEnc
  case "$fileEnc" in
    *"iso-8859-1"*)
      echo "ISO encoding found: $fn"
      cp "$fn" "$fn.orig"
      iconv --from ISO8859-1 "$fn.orig" > "$fn"
      #sed -i "$fn"  's/SET ISO8859-1/SET UTF-8/'
      ;;
   *"utf-8"*)
      echo "UTF-8 encoding found: $fn"
      ;;
   *)
      echo "UNKNOWN encoding found: $fileEnc in $fn"
      head $fn
      ;;
  esac
done

file -bi /usr/share/hunspell/*.aff  && \
file -bi /usr/share/hunspell/*.dic

#apt-get autoremove
#apt-get clean

apt-cache search hunspell-
#hunspell -D


